.block {
  width: 100%;
  position: relative;
}

// VARIATIONS

.block--fp {
  height: 100vh;
}

.block--divider {
  border-top: 1px solid rgba($gray, .2);
}

.block--light-gray {
  background-color: rgba($white-darker, .5);
}

.block--pattern {
  background-color: $gray-very-dark;
  background-image: linear-gradient(rgba($black, .55), rgba($black, .55)), url("/img/lines.svg");
  background-repeat: repeat;
  background-size: 20px;

  & * {
    color: $white;
  }
}
