.block {
  width: 100%;
  position: relative;
}

// VARIATIONS

.block--fp {
  height: 100vh;
}

.block--divider {
  border-top: 1px solid rgba($gray, .2);
}

.block--light-gray {
  background-color: rgba($white-darker, .5);
}
