.project {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 8em auto;

  @include breakpoint(40em) {
    background-size: 9em auto;
  }

  @include breakpoint(50em) {
    background-size: 10em auto;
  }
}

.project--big {
  background-size: 12em auto;

  @include breakpoint(40em) {
    background-size: 13em auto;
  }

  @include breakpoint(50em) {
    background-size: 14em auto;
  }
}

.project--space {
  padding-top: 6em;
  padding-bottom: 6em;

  @include breakpoint(40em) {
    padding-top: 8em;
    padding-bottom: 8em;
  }

  @include breakpoint(50em) {
    padding-top: 10em;
    padding-bottom: 10em;
  }
}

.project--helmisimpukka {
  background-image: url("/img/logo--helmisimpukka.svg");
  background-color: $yellow;
}

.project--druid {
  background-image: url("/img/logo--druid.svg");
  background-color: #1C0501;
}
