$white-darkest: #d9d9d9;
$white-darker: #f2f2f2;
$white-dark: #f8f8f8;
$white: #fff;
$black: #000;

$silver: #979797;
$gray: #666;
$gray-dark: #444;
$gray-light: #dcdcdc;
$gray-verylight: #f5f5f5;
$gray-very-dark: #191A1D;

$blue: #064771;
$blue-light: #0090FF;
$yellow: #FFD600;
$purange: #FC421D;
$red: #ED1C24;
$green: #44BE13;

$twitter: #1da1f2;
$linkedin: #1B86BD;
